@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth overflow-x-hidden;
}

body {
    @apply bg-bodyColor font-Jost text-textColor tracking-wider overflow-x-hidden;
}

section {
    @apply py-16 md:py-28;
}
